#cc-occupancy-age-picker {
    margin: auto;
    width: 100%;
    max-width: 600px;
    padding: 0;
    border: none;

    .cc-age-buttons-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;

        margin-bottom: 24px;
        // max-width: 600px;
        // margin: auto;

        .cc-age-button {
            &-wrapper {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width: 100%;

                &-container {
                    display: flex;
                    justify-content: space-between;
                }
            }

            &_label {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 13px;
                line-height: 150%;
                display: flex;
                align-items: center;
                letter-spacing: 0.02em;
                color: $greyNatural7;
            }

            &-picker {
                display: flex;
                justify-content: center;
                vertical-align: middle;
                align-items: center;

                button {
                    position: relative;
                    background: $white;
                    padding: 24px;
                    border: 1px solid $greyNatural8;
                    border-radius: 1px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &::before {
                        position: absolute;
                        color: $greyNatural8;
                        font-family: Icomoon;
                        font-size: .625rem;
                    }

                    &.remove {
                        &::before {
                            content: "\E95C";
                        }
                    }

                    &.add {
                        &::before {
                            content: "\E959";
                        }
                    }
                }

                span {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 150%;

                    display: block;
                    padding: 0 20px;

                    color: $greyNatural8;

                    min-width: 60px;
                    text-align: center;
                }
            }
        }
    }

    .cc-age-picker-inputs-container {
        color: $greyNatural7;

        .data-input-container {
            padding-top: 20px; // margin-bottom: 20px;
        }

        .cc-age-picker-info {
            font-size: 13px;
            line-height: 170%;
            font-weight: 400;
            margin-bottom: 24px;
            display: block;

            .info-intro {
                font-weight: 600;
            }
        }

        .label-container {
            font-weight: 600;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        .input-container {
            width: 100%;

            input[type="tel"],
            input[type="date"] {
                width: 100%;
                border: 1px solid $greyNatural4;
                padding: 16px;
                font-weight: 400;
                font-size: 13px;
                line-height: 150%;
                letter-spacing: 0.02em;

                &:focus {
                    border: 1px solid $turquoise;
                }
            }

            input[type="date"] {
                font-family: 'Poppins';

                &::placeholder {
                    color: $greyNatural6;
                }

                &::-webkit-calendar-picker-indicator {
                    display: none;
                }

                &::-webkit-input-placeholder {
                    visibility: hidden;
                }
            }

            small {
                color: $red;
                font-weight: 400;
                font-size: .6875rem;
                line-height: 1.1875rem;
                letter-spacing: .03em;

                &.cc-srp_fe-input-error {      
                    font-family: Poppins-400, Open-Sans-400, Arial, Helvetica, sans-serif;
                    margin-top: 8px;
                    margin-bottom: 12px;
                    text-align: left;
                    display: flex;
                    position: relative;

                    &::before {
                        font-family: Icomoon;
                        font-size: 1rem;
                        vertical-align: middle;
                        margin: 0 10px 0 5px;
                        align-self: center;
                        content: "\E973";
                    }
                }
            }
        }
    }
}