#cc-occupancy-age-picker {
    margin: auto;
    width: 100%;
    max-width: 600px;
    padding: 0;
    border: none;

    .cc-age-buttons-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;
        // max-width: 600px;
        // margin: auto;

        .cc-age-button {
            &-wrapper {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            &_label {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 13px;
                line-height: 150%;
                display: flex;
                align-items: center;
                letter-spacing: 0.02em;
                color: $greyNatural7;
            }

            &-picker {
                display: flex;
                justify-content: center;
                vertical-align: middle;
                align-items: center;

                button {
                    position: relative;
                    background: $white;
                    padding: 24px;
                    border: 1px solid $greyNatural8;
                    border-radius: 1px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &::before {
                        position: absolute;
                        color: $greyNatural8;
                        font-family: Icomoon;
                        font-size: .625rem;
                    }

                    &.remove {
                        &::before {
                            content: "\E95C";
                        }
                    }

                    &.add {
                        &::before {
                            content: "\E959";
                        }
                    }
                }

                span {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 150%;

                    display: block;
                    padding: 0 20px;

                    color: $greyNatural8;
                }
            }
        }
    }
}