.cc-fe_srp {
    &-filter__panel {
        &.destinations {
            .cc-fe_srp-body__panel {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .cc-fe_srp-filters__action {
                    &-value {
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                    }

                    &-image {
                        height: 80px;
                        width: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;

                    }

                    &-label {
                        padding: 18px;
                        text-align: center;
                        width: 100%;
                        height: calc(100% - 80px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}